ul {
  list-style-type: none;
}

.containter {
  position: absolute;
  top: 100px;
  left: 300px;
}
.email {
  top: 100px;
  left: 300px;
}
.email_label {
  top: 100px;
  left: 300px;
  margin-right: 20px;
}

.actions {
  margin-top: 20px;
}

.login-button {
  margin-bottom: 20px;
}

.submit_button {
  margin-right: 100px;
}
